<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Snap&Chat</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet" type="text/css">

    </head>
    <body>
        <div class="grid-container">
            <div class="header">
                <div class="logo">
                    <a href="https://github.com/software-students-fall2023/5-final-project-project5dominators"> 
                        <button class="logo-btn">Snap&Chat</button>
                    </a>
                </div>

                <div class="sign-out">
                    <a href="{{ url_for('logout') }}">
                        <button class="sign-out-btn"><i class="fas fa-sign-out-alt"></i></button>
                    </a>
                </div>
            </div>

            <!-- Outer div is reversed to scoll up instead of down -->
            <div class="chatroom">
                <!-- Inner div to reverse back content to correct order -->
                <div> 

                    <!-- TODO: Populate the messages dynamically from database by using a loop -->
                    <!-- TODO: Implment delete button to delete message from database-->

                    <div class="message">
                        <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="User" class="user-photo">

                        <div class="message-content">
                            <div class="message-header">
                                <span class="username">Username</span>
                                <button class="delete-btn"><i class="fa fa-trash"></i></button>
                            </div>
                            <p class="message-text">(Oldest Message) Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                        </div>
                    </div>

                    <div class="message">
                        <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="User" class="user-photo">
                        <div class="message-content">
                            <div class="message-header">
                                <span class="username">Username</span>
                                <button class="delete-btn"><i class="fa fa-trash"></i></button>
                            </div>
                            <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                        </div>
                    </div>

                    <div class="message">
                        <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="User" class="user-photo">
                        <div class="message-content">
                            <div class="message-header">
                                <span class="username">Username</span>
                                <button class="delete-btn"><i class="fa fa-trash"></i></button>
                            </div>
                            <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Orci sagittis eu volutpat odio facilisis mauris sit amet massa. Tellus in hac habitasse platea dictumst vestibulum rhoncus est. At erat pellentesque adipiscing commodo elit at. Vitae aliquet nec ullamcorper sit amet. Consequat semper viverra nam libero. Volutpat ac tincidunt vitae semper quis lectus nulla. Lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Vestibulum morbi blandit cursus risus at ultrices mi. Dolor sit amet consectetur adipiscing elit duis.

                                Ac orci phasellus egestas tellus. Euismod in pellentesque massa placerat duis ultricies lacus sed turpis. Dolor sit amet consectetur adipiscing elit ut aliquam purus. Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus. Nec feugiat nisl pretium fusce id velit ut tortor. Morbi tristique senectus et netus et malesuada fames. Eu mi bibendum neque egestas congue quisque egestas diam. Dolor morbi non arcu risus quis varius quam quisque id. Donec et odio pellentesque diam. Elit pellentesque habitant morbi tristique senectus et netus et malesuada.
                                
                                Eget mi proin sed libero enim sed. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Id aliquet lectus proin nibh nisl condimentum id venenatis a. Id ornare arcu odio ut sem nulla pharetra. Cursus euismod quis viverra nibh cras pulvinar mattis. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Tincidunt praesent semper feugiat nibh sed pulvinar proin. Dapibus ultrices in iaculis nunc sed augue lacus. Netus et malesuada fames ac turpis egestas integer. Interdum posuere lorem ipsum dolor sit amet consectetur adipiscing. Libero nunc consequat interdum varius sit amet mattis vulputate enim.
                                
                                Justo donec enim diam vulputate ut. Accumsan tortor posuere ac ut. Id velit ut tortor pretium viverra suspendisse potenti. In fermentum posuere urna nec. Orci nulla pellentesque dignissim enim sit amet venenatis urna cursus. Dui ut ornare lectus sit amet est placerat in egestas. Augue lacus viverra vitae congue eu consequat ac. Malesuada fames ac turpis egestas maecenas. Nulla aliquet enim tortor at auctor urna nunc id. Donec adipiscing tristique risus nec feugiat in fermentum posuere urna. Blandit turpis cursus in hac habitasse platea dictumst quisque.</p>
                        </div>
                    </div>

                    <div class="message">
                        <img src="{{ url_for('static', filename='placeholder1.jpg') }}" alt="User" class="user-photo">

                        <div class="message-content">
                            <div class="message-header">
                                <span class="username">Twitter Owner</span>
                                <button class="delete-btn"><i class="fa fa-trash"></i></button>
                            </div>
                            <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                        </div>
                    </div>

                    <div class="message">
                        <img src="{{ url_for('static', filename='placeholder3.jpg') }}" alt="User" class="user-photo">

                        <div class="message-content">
                            <div class="message-header">
                                <span class="username">Twitter User</span>
                                <button class="delete-btn"><i class="fa fa-trash"></i></button>
                            </div>
                            <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Orci sagittis eu volutpat odio facilisis mauris sit amet massa. Tellus in hac habitasse platea dictumst vestibulum rhoncus est. At erat pellentesque adipiscing commodo elit at. Vitae aliquet nec ullamcorper sit amet. Consequat semper viverra nam libero. Volutpat ac tincidunt vitae semper quis lectus nulla. Lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Vestibulum morbi blandit cursus risus at ultrices mi. Dolor sit amet consectetur adipiscing elit duis.</p>
                        </div>
                    </div>

                    <div class="message">
                        <img src="{{ url_for('static', filename='placeholder2.jpg') }}" alt="User" class="user-photo">

                        <div class="message-content">
                            <div class="message-header">
                                <span class="username">Twitter Owner</span>
                                <button class="delete-btn"><i class="fa fa-trash"></i></button>
                            </div>
                            <p class="message-text">(Latest Message) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="camera">
                <div>
                    <div class="col-md-4">
                        <video id="video" autoplay></video>
                        <div id="camera-off-placeholder" style="display: none;">Camera is off</div>
                        <canvas id="canvas" width="480" height="480" style="display: none;"></canvas>
                    </div>                
                </div>
            </div>

            <div class="footer">
                <input type="text" id="message-input" placeholder="Type a message...">
                <label class="custom-checkbox">
                    Filter
                    <input type="checkbox" id="option-checkbox">
                    <span class="checkmark"></span>
                </label>
                <button id="capture">Snap&Send</button>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script>
                //function for sketchy message
                function sketchAndSendMessage() {
                    var canvas = $('#canvas').get(0);
                    var context = canvas.getContext('2d');
                    var video = $('#video').get(0);
                    var message = $('#message-input').val().trim();

                    if (!video.srcObject || !video.srcObject.active) {
                        alert("Camera is not active. Please refresh and allow camera access to send messages.");
                        return;
                    }

                    if (message.length === 0) {
                        alert("Please enter a message.");
                        return;
                    }

                    let videoWidth = video.videoWidth;
                    let videoHeight = video.videoHeight;
                    let startX = 0;
                    let startY = 0;
                    let squareLength = Math.min(videoWidth, videoHeight);

                    if (videoWidth > videoHeight) {
                        startX = (videoWidth - videoHeight) / 2;
                    } else {
                        startY = (videoHeight - videoWidth) / 2;
                    }

                    context.drawImage(video, startX, startY, squareLength, squareLength, 0, 0, canvas.width, canvas.height);
                    var imageDataUrl = canvas.toDataURL('image/png');

                    $.ajax({
                        type: "POST",
                        url: "/convert_to_sketch",  // The only difference is the URL
                        data: {
                            image: imageDataUrl,
                            message: message
                        },
                        success: function(response) {
                            console.log("Response from convert_to_sketch:", response);
                            appendNewMessage(response.photo, response.message, response.username, response._id);
                        },
                        error: function(error) {
                            console.error("Error sending image for sketching", error);
                        }
                    });

                    $('#message-input').val('');
                }


            //function for the delete button
            function deleteMessage(messageId) {
                // Convert messageId to a string if it's an object
                var messageIdStr = (typeof messageId === 'object') ? messageId.toString() : messageId;

                console.log("Deleting message with ID:", messageIdStr);
                
                $.ajax({
                    type: "POST",
                    url: `/delete_message/${messageIdStr}`,
                    success: function(response) {
                        console.log("Message deleted successfully");
                        $(`#message-${messageIdStr}`).remove(); // Remove the message element from the chatroom
                    },
                    error: function(error) {
                        console.error("Error deleting message", error);
                    }
                });
            }



            var lastMessageTimestamp = 0; // Initialize the timestamp
        
            function fetchAndDisplayMessages() {
                    $.ajax({
                        url: '/get_messages',
                        method: 'GET',
                        success: function(response) {
                            console.log("Fetched messages: ", response); 
                            const chatroomDiv = $('.chatroom > div');
                            response.forEach(function(message) {
                                appendNewMessage(`${message.photo}`, message.message, message.username, message._id);
                            });
                        },
                        error: function() {
                            console.error('Error fetching messages');
                        }
                    });
                }
        
            function sendMessageImage() {
                var canvas = $('#canvas').get(0);
                var context = canvas.getContext('2d');
                var video = $('#video').get(0);
                var message = $('#message-input').val().trim();
        
                if (!video.srcObject || !video.srcObject.active) {
                    alert("Camera is not active. Please refresh and allow camera access to send messages.");
                    return;
                }
        
                if (message.length === 0) {
                    alert("Please enter a message.");
                    return;
                }

                let videoWidth = video.videoWidth;
                let videoHeight = video.videoHeight;
                let startX = 0;
                let startY = 0;
                let squareLength = Math.min(videoWidth, videoHeight);
    
                if (videoWidth > videoHeight) {
                    startX = (videoWidth - videoHeight) / 2;
                } else {
                    startY = (videoHeight - videoWidth) / 2;
                }

                context.drawImage(video, startX, startY, squareLength, squareLength, 0, 0, canvas.width, canvas.height);

                var imageDataUrl = canvas.toDataURL('image/png');
        
                $.ajax({
                    type: "POST",
                    url: "/post_message",
                    data: {
                        image: imageDataUrl,
                        message: message
                    },
                    // On successful sending of a new message
                    success: function(response) {
                            console.log("Response from post_message:", response);
                            appendNewMessage(response.photo, response.message, response.username, response._id);
                        },
                    error: function(error) {
                        console.error("Error sending image or message", error);
                    }
                });
        
                $('#message-input').val('');
            }
        
            function appendNewMessage(imageDataUrl, message, username, messageId) {
                console.log("Appending message with ID:", messageId);
                const messageIdAttribute = messageId ? `id="message-${messageId}"` : '';
                const deleteButton = messageId ? `<button class="delete-btn" onclick="deleteMessage('${messageId}')"><i class="fa fa-trash"></i></button>` : '';
                
                const chatroomDiv = $('.chatroom > div');
                const messageHtml = `
                    <div class="message" ${messageIdAttribute}>
                        <img src="${imageDataUrl}" alt="User" class="user-photo">
                        <div class="message-content">
                            <div class="message-header">
                                <span class="username">${username}</span>
                                ${deleteButton}
                            </div>
                            <p class="message-text">${message}</p>
                        </div>
                    </div>`;
                chatroomDiv.append(messageHtml);
            }


            $(document).ready(function() {
                //fetch and load
                fetchAndDisplayMessages();
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(stream => {
                        $('#video').get(0).srcObject = stream;
                    })
                    .catch(err => {
                        console.error("Error accessing camera: ", err);
                        alert("Camera access is needed to send messages.");
                        $('#camera-off-placeholder').show();
                    });
        
                $('#capture').click(function(){
                    if ($('#option-checkbox').is(':checked')) {
                        sketchAndSendMessage();
                    } else {
                        sendMessageImage();
                    }
                });

                $(document).keypress(function(e) {
                    if (e.which == 13) {
                        e.preventDefault();
                        if ($('#option-checkbox').is(':checked')) {
                            sketchAndSendMessage();
                        } else {
                            sendMessageImage();
                        }
                    }
                });
        
                
            });
        </script>
        
        

    </body>
</html>
