name: Python CI/CD with Docker in Webapp Directory

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build Docker Image in Webapp Directory
      run: |
        cd webapp
        docker build -t webapp .

    - name: Run Pytest
      run: |
        cd webapp
        docker run --rm webapp pytest

  deployment-on-dockerHub:
    runs-on: ubuntu-latest

    steps: 
    - uses: actions/checkout@v3
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Deploy on Docker Hub
      uses: docker/build-push-action@v3
      with:
        context: ./webapp
        file: ./webapp/Dockerfile
        push: true
        tags: hyteve/snap-and-chat:latest









     
